<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="free crm Flow" >
    <!--<listeners>
        <listener class-name="com.crm.qa.extentReport.TestListners"></listener>
    </listeners>-->

    <test name="Login Page Test">
        <classes>
            <class name="com.crm.qa.testcases.LoginPageTest"/>
            <!--                <methods>-->
            <!--                    <include name="verify_Login_Done_Successfully"/>-->
            <!--                   -->
        </classes>
    </test>
</suite>